<div class='main-container'>
  <div class="recipe-container">
    <h1 class="name"><%- locals.cocktail.name %></h1>
    <img class="cocktail-img" src="<%- locals.cocktail.image %> " alt="">
    
    <div class="info-container">
      <div class="ingredients">
        <ul>
          <% locals.cocktail.ingredients.forEach(ingredient => { %>
            <li><%- `${ingredient.measure} ${ingredient.name}` %> </li>
          <% }) %>
        </ul>
      </div>
      <div class="instructions">
        <p><%- locals.cocktail.instructions %> </p>
      </div>
    </div>
    <div class="add-dropdown">
      <button id="dropdownTrigger" class="dropbtn">&#43</button>
      <div id="dropdown" class="dropdown-content">
        <% locals.collections.filter((collection) => !collection.drink_exists).forEach(collection => { %>
          <a href="/save?collectionId= <%- collection.id %>&cocktailId=<%- locals.cocktail.id %>"><%- collection.name %></a>
        <% }) %>

        <% if (locals.collections.filter((collection) => !collection.drink_exists).length === 0) { %>
          <a href="#">No collections found</a>
        <% } %>
      </div>
    </div>
  </div>
  <a class ="back-to-results-btn" href="javascript:history.back()">&#8592; Go Back</a>
</div>
<script src="/js/dropdown-add.js"></script>
